<div *ngFor="let message of messageService.messages | async">
    <app-message
    [message]="message"
    (edit)="onEdit(content, $event)"
    (delete)="onDelete($event)"
    ></app-message>
</div>
<button style="margin-top: 10px;" class="btn btn-primary" (click)="onNew(content)"><i class="fas fa-plus"></i> Add new</button>

<ng-template #content let-modal>
    <form [formGroup]="formGroup">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ addNew ? "Add new message": "Edit message" }}</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="messageTitle" class="col-sm-1 col-form-label">Title</label>
                <div class="col-sm-11">
                    <input
                        type="text"
                        class="form-control"
                        [ngClass]="{'is-invalid': title.touched && title.errors}"
                        id="messageTitle"
                        formControlName="title"
                        placeholder="Message title">
                    <div *ngIf="title.touched && title.errors" class="invalid-feedback">
                        <div *ngIf="title.errors.required">First Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="messageText" class="col-sm-1 col-form-label">Text</label>
                <div class="col-sm-11">
                    <textarea
                        rows="4"
                        type="password"
                        class="form-control"
                        [ngClass]="{'is-invalid': text.touched && text.errors}"
                        id="messageText"
                        formControlName="text"
                        placeholder="Text ..."></textarea>
                    <div *ngIf="text.touched && text.errors" class="invalid-feedback">
                        <div *ngIf="text.errors.required">First Name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button
            type="submit"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
            [disabled]="!formGroup.valid"
            >{{ addNew ? "Add" : "Update" }}</button>
        </div>
    </form>
</ng-template>
